
*{box-sizing: border-box;
margin: 0;
padding: 0;}
body{
width: 100vw;
height: 100vh;
display: flex; justify-content: center; align-items: center; flex-direction: row;
background-color: var(--dark-grey); color: var(--white);
font-family: 'Inter', sans-serif;

}




/*color variables*/
:root{
  --dark-grey: hsl(0, 0%, 8%); 
  --grey: hsl(0, 0%, 12%);
--light-grey: hsl(0, 0%, 20%);
--green: hsl(75, 94%, 57%);
--white: hsl(0, 0%, 100%); 
--github: hsl(0, 0%, 34%) ;
--frontend: hsl(0, 0%, 84%) ;
--linkedin: hsl(227, 80%, 53%) ;
--twitter: hsl(197, 88%, 62%) ;
--instagram: hsl(336, 74%, 56%) ;
}

a{text-decoration: none; color: var(--white); width: 100%; }

img{max-width: 100%;}

ul{list-style-type: none;}


.avatar{width: 100%;     
  height: auto;
   object-fit: cover; ;}

.avatar .avatar-img{border-radius: 6em;
 width: 25vw;
 max-width: 7rem;
 min-width: 2rem;
  object-fit: cover;
  display: block; 
  margin-inline-start: 5em;
margin-block: 1.1em 1.7em; 
}

.avatar .name{font-weight: 500; margin-block-end: 0.5em;}

.avatar .adrss{color: var(--green); font-weight: 700;
margin-block-end: 2em;}

.hed .hobbies{opacity: 0.7; margin-block-end: 2em;}



.links .link-list{
   
line-height: 3em; 

}

.link-list a{background-color: var(--light-grey);
     object-fit: contain;
      text-align: center; 
      margin-block-end: 1em; border-radius: 0.5em;
     width: 75vw;
    
     max-width: 19rem
     ; display: block;}


.attribution{margin-block-start: 1em;}

.link-list .github:active{color: var(--github);}
.link-list .Mentor:active{color: var(--frontend);}
.link-list .linkedin:active{color: var(--linkedin);}
.link-list .twitter:active{color: var(--twitter);}
.link-list .instagram:active{color: var(--instagram);}




/*utility classes*/

.container{padding-inline: 1.4em;
max-width: 100%;}

/*card*/

.card{background-color: var(--grey);
border-radius: 0.8em; display: flex; flex-direction: column; 
justify-content: center; align-items: center; padding-block: 0.5em;

width: 88vw; 
max-width: 30rem ;}


/*text classes*/
.text-xl{
 font-size: 1.5em;
}

.text-md{font-size: 0.9em;}

.text-lrg{font-size: 0.9em; font-weight: 700;}

.text-center{text-align: center;}

@media screen and (min-width: 601px) {
  

  
  .card {
    width: 40vw;
    min-width: 23rem;
    max-width: 25rem;/* More compact card layout */
   
  }


  .text-xl{
 font-size: 1.3em;
}
  .text-md{font-size: 0.7em;}

.text-lrg{font-size: 0.7em; font-weight: 600;}

.text-center{text-align: center;}

.avatar .avatar-img{margin-inline-end: 5rem;}
.link-list a{margin-block-end: 1.3em;}

.link-list a:hover{background-color: rgba(137, 137, 137, 0.438);}

}

